@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "EuphemiaCAS";
  src: url("/fonts/euphemiacas.ttf") format("truetype");
} */

@layer base {
  @font-face {
    font-family: "EuphemiaCAS-Regular";
    font-style: normal;
    /* font-weight: 800; */
    font-display: swap;
    src: url("/fonts/euphemiacas.ttf") format("truetype");
  }
  @font-face {
    font-family: "EuphemiaCAS-Bold";
    font-style: normal;
    /* font-weight: 800; */
    font-display: swap;
    src: url("/fonts/euphemiacas-Bold.ttf") format("truetype");
  }
}

@layer base {
  body {
    /* font-family: "EuphemiaCAS", system-ui, sans-serif;
     */
    /* transform: rotate(90deg); */
    /* width: 100vh;
    height: 100vw;
    overflow: hidden;
    transform: rotate(90deg) translateX(0%);
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; */
    /* transform-origin: top left; */
    /* width: 100vh;
    height: 100vw;
    transform-origin: top left;
    transform: rotate(90deg) translateX(-100%);
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed; */
    /* overflow: scroll; */
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  #root {
    transform: rotate(90deg);
    transform-origin: bottom left;

    position: absolute;
    top: -100vw;
    left: 0;

    height: 100vw;
    width: 100vh;
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    /* bottom: 0; */
    /* right: 0; */
    /* position: fixed; */
    /* left: 0; */
    /* top: 0; */
    /* transform: rotate(90deg) translateX(50%); */
    /* height: 100vw; */
    /* width: 100vh; */
    /* display: flex; */
    /* flex-direction: column; */
    /* margin: 0; */
  }
}

@layer utilities {
  .w-screen {
    width: 100vh;
  }
  .h-screen {
    height: 100vw;
  }
  /* .h-full {
    height: 100vw;
  } */
  .bg-prot {
    background-position: center;
    background-size: 100% 100%;
    background-color: #fff;
    /* transform: rotate(0deg) translateX(0%);
    height: 100vw;
    width: 100%; */
  }

  .font-c-regular {
    font-family: "EuphemiaCAS-Regular", system-ui, sans-serif;
  }
  .font-c-bold {
    font-family: "EuphemiaCAS-Bold", system-ui, sans-serif;
  }
  h2 {
    /* display: inline-block;; */
  }
  strong {
    font-family: "EuphemiaCAS-Bold", system-ui, sans-serif;
    display: inline-block;
    width: fit-content;
  }
  .li-c {
    position: relative;
    background-color: #e8e8e8;
    width: 80%;
    margin: 0 auto;
    max-width: 590px;
    padding: 0.5rem 0;
    border-radius: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
  }
  .p-c {
    text-align: center;
    font-family: "EuphemiaCAS-Regular", system-ui, sans-serif;
    color: #12416f;
    position: relative;
    pointer-events: none;
    overflow: hidden;
    display: block;
    max-width: 90%;
    width: 100%;
    height: fit-content;
    text-wrap: wrap;
  }
  .span-c {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    margin: auto 0;
    width: 30px;
    height: 30px;
    left: -15px;
    background-color: #ee5245;
    border-radius: 10000px;
    bottom: 0;
    color: #fff;
    pointer-events: none;
    font-family: "EuphemiaCAS-Regular", system-ui, sans-serif;
  }
  .activeQuiz {
    background-color: #719eca;
    transform: scale(1.04);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    /* -webkit-box-shadow: 6px 9px 26px 0px rgba(0, 0, 0, 0.1); */
    /* -moz-box-shadow: 6px 9px 26px 0px rgba(0, 0, 0, 0.17); */
    box-shadow: 8px 9px 26px 0px rgba(0, 0, 0, 0.4);
  }
  .activeQuiz > p {
    color: #fff;
  }
  .activeQuiz > span {
    color: #ee5245;
    background-color: #fff;
    box-shadow: 8px 9px 26px 0px rgba(0, 0, 0, 0.8);
  }
}
.justify-custom {
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .justify-custom {
    justify-content: space-between;
  }
}

/* @media screen and (max-width: 565px) {
  .justify-custom {
    justify-content: center;
  }
} */

.btn-c {
  top: 50%;
  position: absolute;
  right: 2%;
  animation: float 6s ease-in-out infinite;
  border-radius: 50%;
}

/* @media screen and (max-width: 565px) {
  .btn-c {
    top: 5%;
    position: fixed;
    left: 45%;
    right: 0;
    margin: auto 0;
    transform: rotate(90deg);
  }
} */

/* ANIMATION */

.bounceIn {
  animation: bounceIn 0.8s ease-in;
}

.fadeInDown {
  animation: fadeInDown 1s ease-in;
}
.fadeIn {
  animation: fadeIn 1s ease-in;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* END ANIMATION */

:root {
  /* font-family: "EuphemiaCAS" sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: "EuphemiaCAS" sans-serif; */
  background-color: #fff;
  min-height: 100vh;
  min-width: 100vw;
  color: #242424;
}

html {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
li {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
dl,
dd,
dt {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
table,
td {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}
img {
  border: 0 none;
}
a,
a:hover {
  outline: medium none;
  text-decoration: none;
}
br {
  clear: both;
}
form,
fieldset {
  border: 0 none;
  margin: 0;
  padding: 0;
}
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
